*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@import "variables.scss";

div,section,form,label,span,footer,button,input,nav,h1,h2,h3,img,picture,header,select,a,textarea,main{
    display: block;
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #000;
}
h1,h2,h3{
    text-align: center;
}
button,input,textarea,select,textarea{
    background: #0000;
    outline: none;
    border: 0;
}
span{
    svg{
        color: black;
    }
}
html{
    font-size: 20px;
}
h1{font-size: 1.4rem;}
h2{font-size: 1.1rem;}
h3{font-size: 1rem;}
label,span,input,button,select,a,textarea{font-size: .85rem;}
input[type="submit"],button{
    cursor: pointer;
}
input{
    padding: 0 10px;
    width: 100%;
}
picture{
    img{
        height: 100%;
    }
}
.setionInput{
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-top: 5px;
    border-radius: 10px;
    transition: .4s all;
    box-shadow: 0 0 3px #bbb;
    input{
        color: $letra;
    }
    span{
        display: grid;
        place-items: center;
        svg{
            color:$letra;
        }
    }
    &.act{
        box-shadow: 0 0 7px $fondo;
    }
}
.busqueda{
    display: grid;
    grid-template-columns: 80% 1fr;
    gap: 3px;
    // box-shadow: 0 0 2px #aaa;
    transition: .3s all;
    box-shadow: 0 0 5px rgb(44, 255, 61);
    // background: black;
    // box-shadow: 0px 0px 3px #fff;
    // box-shadow: 0 0 8px #ff0101;
    border-radius: 10px;
    select{
        box-shadow: 0 0 2px #aaa;
        color: white;
        text-align: center;
        background: rgba(0, 0, 0, 0.749);
        // border-left: 1px solid black;
    }
}
@media screen and (max-width:"500px") {
    html{
        font-size: 15px;
    }
}